.login-container {
    margin-top: 100px;
    form {
        .form-group {
            display: flex;
            flex-wrap: wrap;
            margin-left: 12px;
            margin-right: 12px;
            padding-bottom: 0;
            .form-control {
                flex: 1;
            }
        }
        .button-container {
            display: flex;
            justify-content: flex-end;
            padding-right: 24px;
        }
    }
}